<h1>Editing Book</h1>
<%= form_for(@book, url:'/blogs') do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Body</p>
    <%= f.text_area :body %>
    <p><%= f.submit 'Update Book' %></p>

     <%= link_to "Show", blog_path(@book) %>
     <%= link_to "Back", books_path %>
<% end %>